@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import '../constants';


body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;

  color: #FFF;
}

h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;

  color: #000;
}

h3.bold{
  font-weight: 700;
}

h4{
  font-weight: 700;
  font-size: 18px;
  line-height:23px;

  color: #FFF;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #FFF;
}

input{
  position: relative;

  min-height: 30px;
  min-width: 300px;
  border-radius: 16px;
  border: none;
}

//input::before{
//  width: 15px;
//  height: 15px;
//  content: "test";
//  background-color: #000000;
//  background-image: url('../../images/icons/search-black.png');
//}
