@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import '../constants';


body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;

  color: #FFF;
}

h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;

  color: #000;
}

h3.bold{
  font-weight: 700;
}

h4{
  font-weight: 700;
  font-size: 18px;
  line-height:23px;

  color: #FFF;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #FFF;
}

input{
  position: relative;

  min-height: 30px;
  min-width: 300px;
  border-radius: 16px;
  border: none;
}

button{
  padding: 8px 40px;

  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;

  border: none;
  background-color: black;
  color: white;
}

.hidden {
  display: none !important;
}

.message {
  text-align: center;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 20px grey;
  top: 70px;
  right: 100px;
  position: fixed;
  width: 300px;
  height: 55px;
  background: #FFDF6B;
  border-radius: 50px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, sans-serif;
  opacity: 1;
  transition: 0.5s;
}

.message.hidden{
  display: block;
  opacity: 0;
  transition: 0.5s;
}

//input::before{
//  width: 15px;
//  height: 15px;
//  content: "test";
//  background-color: #000000;
//  background-image: url('../../images/icons/search-black.png');
//}
