<footer class="footer container">
    <h2 class="footer__title">get in touch with us</h2>
    <p class="footer__description">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. </p>
    <div class="social__wrapper">
        <img class="social__item" src="../images/social/rss-icon.png" alt="RSS">
        <img class="social__item" src="../images/social/facebook_icon.png" alt="Facebook">
        <img class="social__item" src="../images/social/twitter-icon.png" alt="Twitter">
        <img class="social__item" src="../images/social/dribbble-icon.png" alt="Dribbble">
        <img class="social__item" src="../images/social/pinterest-icon.png" alt="Pinterest">
    </div>
    <p class="footer__address"> Moonshine St. 14-05 Light City <span>T. +00 (123) 456 78 90</span> <span>first.last@email.com</span></p>
</footer>
