<header class="header container">
    <img class="header__menu-button" src="./images/menu-button.svg" alt="menu-button">
    <ul class="header__menu header__menu-mobile hidden">
        <li class="header__menu-item current">
            <a href="./index.html">Home</a>
        </li>
        <li class="header__menu-item">
            <a href="#">about us</a>
        </li>
        <li class="header__menu-item">
            <a href="#">our journal</a>
            </li>
        <li class="header__menu-item">
            <a href="#">projects</a>
        </li>
        <li class="header__menu-item">
            <a href="#">news</a>
        </li>
        <li class="header__menu-item">
            <a href="#">features</a>
        </li>
        <li class="header__menu-item">
            <a href="#">contact</a>
        </li>
    </ul>
</header>
