<div class="category__product-item">
    <div class="category__product-about">
        <h2 class="category__product-title">
            @@title
        </h2>
        <h4 class="category__product-price">
            @@price $
        </h4>
        <p class="category__product-description">
            <span>
                @@description-1
            </span>
            <span>
                @@description-2
            </span>
        </p>
        <div class="category__color-wrapper">
            <h2 class="category__color-title">
                Available colors:
            </h2>
            <div class="category__color-list">
                @@for (var i = 0; i < color.length; i++) {
                <button class="category__color-item `+color[i]+`">
                </button>
                }
            </div>
        </div>
        <button class="category__product-button">MORE INFO</button>
    </div>
    <div class="category__product-images">
        <div class="swiper product-swiper">
            <div class="swiper-wrapper">
                @@for (var i = 0; i < images.length; i++) {
                <div class="swiper-slide">
                    <img src="`+images[i]+`" alt="">
                </div>
                }
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
