<header class="header container">
    <img class="header__logo" src="../images/icons/logo-white.png" alt="">
    <input class="header__search" type="text">
    <div class="header__action-wrapper">
        <img class="header__action header__action-cart" src="../images/icons/cart-white.svg" alt="">
        <img class="header__action header__action-menu-open" src="../images/icons/menu-white.svg" alt="">
    </div>
    <div class="header__menu-wrapper">
        <div class="header__menu-top">
            <span class="header__menu-language">RU / EN</span>
            <div class="header__action-wrapper">
                <img class="header__action header__action-cart" src="../images/icons/cart-black.svg" alt="">
                <img class="header__action header__action-menu-close" src="../images/icons/menu-close.svg" alt="">
            </div>
        </div>
        <ul class="header__menu header__menu-bold">
            <li class="header__menu-item">
                <a href="" class="header__menu-link">ROAD SERIES</a>
            </li>
            <li class="header__menu-item">
                <a href="" class="header__menu-link">STREET SERIES</a>
            </li>
            <li class="header__menu-item">
                <a href="" class="header__menu-link">MOUNTAIN SERIES</a>
            </li>
        </ul>
        <ul class="header__menu">
            <li class="header__menu-item">
                <a href="" class="header__menu-link">Новости</a>
            </li>
            <li class="header__menu-item">
                <a href="" class="header__menu-link">О нас</a>
            </li>
            <li class="header__menu-item">
                <a href="" class="header__menu-link">Контакты</a>
            </li>
        </ul>
        <div class="header__social-wrapper">
            <img class="header__social" src="../images/icons/instagram-brands.svg" alt="">
            <img class="header__social" src="../images/icons/facebook-brands.svg" alt="">
        </div>
    </div>
</header>
