.product{
  &__price{
    &-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-title{
      font-size: 24px;
      font-weight: bold;
    }
    &-price{
      font-size: 24px;
      font-weight: 400;
      color: black;
    }
  }
  &__total{
    &-button{
      background: none;
      border: 3px solid black;
      color: black;
      transition: 0.5s;
      &:hover{
        transition: 0.5s;
        border: 3px solid white;
        background: black;
        color: white;
      }
    }
    &-wrapper{
      margin: 20px 0;
      display: flex;
      flex-direction: column;
    }
  }
  &__base{
    &-title{
      padding: 10px 0;
      font-size: 18px;
      line-height: 23px;
      & span{
        font-weight: 400;
      }
    }
    &-button{
      display: flex;
      padding: 10px;
      background: none;
      color: black;
      border: 3px solid black;
      &.active &-check{
          background: black;
      }

      &-check{
        position: relative;
        margin: 5px 10px;
        width: 15px;
        height: 15px;
        &::before{
          position: absolute;
          left: -5.5px;
          top: -5.5px;
          content: "";
          width: 20px;
          height: 20px;
          border: 3px solid black;
        }
  }
  &-wrapper{
    display: flex;
    gap: 30px;
  }
}
}
  &__accessories{
    &-wrapper{
      margin-top: 10px;
      border-top: 1px solid #F2F2F2;
    }
    &-title{
      font-size: 18px;
    }
    &-item{
      text-align: center;
      position: relative;
      padding: 15px;
      max-width: 140px;
      max-height: 140px;
      background: #F2F2F2;
      &-wrapper{
        margin-top: 50px;
        min-height: 200px;
        display: flex;
        gap: 25px;
      }
    }
    &-name{
      padding-top: 50px;
    }
    &-name, &-price{
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      color: #000000;
    }
    &-image{
      max-width: 110px;
      position: absolute;
      top: -50px;
      left: calc(50% - (110px / 2));
    }
    &-button{
      padding: 0;
      bottom: -20px;
      left: calc(50% - 25px);
      position: absolute;

      width: 50px;
      height: 50px;
      &::after{
        content: '+';
      }
      &.added{
        &::after{
          content: '-';
        }
      }
    }
  }
  &__color{
&-wrapper{
  padding: 20px 0;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}
&-title{
  padding: 10px 0;
  line-height: 23px;
  font-size: 18px;
  & span{
    font-weight: 400;
  }
}
&-item{
  box-shadow: 0 1px 5px black;
  padding: 0;
  margin: 0 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  &.black{
    background: black;
  }
  &.blue{
    background: #5A88FF;
  }
  &.red{
    background: #FF5A5A;
  }
  &.white{
    background: white;
  }
  &.orange{
    background: #FAC154;
  }
}
}

&-price{
font-weight: 400;
color: #000000;
}

&-wrapper{
display: grid;
grid-template-columns: 70% 30%;
  justify-items: center;
}
&__image{
padding: 150px 70px 0 70px;
max-height: 800px;
background-color: #F2F2F2;
}
&__actions{
  padding: 150px 70px;
  max-height: 800px;

}

  &__details{
    &-title{
      font-size: 24px;
      line-height: 31px;
    }
    &-wrapper{
      grid-column-start: 1;
      grid-column-end: 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 30px;
    }
    &-description{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__reviews{
    &-wrapper{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &-item{
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 22px 32px;
      background: #F2F2F2;
    }
    &-name, &-text{
      font-size: 18px;
      line-height: 23px;
      color: #000000;
    }
  }
}
