<div class="sidebar">
    <div class="sidebar__item">
        <div class="sidebar__item-wrapper">
            <h2 class="sidebar__item-title">Header</h2>
            <input class="sidebar__item-checkbox" type="checkbox" name="header-active" id="header-active">
        </div>
        <div class="sidebar__item-content tag__wrapper hidden">

                <select name="header-tag" class="tag-list" id="header-tag-0"></select>
                <input placeholder="element className" id="header-className-0" type="text">
                <input placeholder="element id" id="header-id-0" type="text">
                <select name="" id="header-value-select-0">
                    <option value="text">Text</option>
                    <option value="tag">Tag</option>
                </select>
                <div class="value-wrapper-0">

                </div>
                <button id="create-header-button">Create header</button>
        </div>
    </div>
</div>
