.header {
  padding: 30px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-self: center;
  &.black {
    svg{
      fill: black;
    }
    path{
      fill: black;
    }
  }
  &-wrapper{
    &.cart{
        background-image: none;
        .header__menu-wrapper{
          background: #F2F2F2;
        }
        input{
          background-color: #F2F2F2;
        }
    }
  }
  &__search {
    outline: none;
    max-width: 98.6%;

    &-wrapper {
      z-index: 10;
      min-width: 300px;
      position: relative;
    }

    &.active {
      box-shadow: 0 1px 10px black;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-dropdown {
      position: absolute;
      width: 100%;
      padding-bottom: 15px;
      box-shadow: 0 20px 20px 2px black;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      background: #F2F2F2;
    }

    &-item {
      text-decoration: none;
      transition: 0.2s;
      background: #F2F2F2;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      max-height: 64px;

      &-image {
        width: 70px;
        height: 50px;
      }

      &:hover {
        transition: 0.2s;
        background: #D5D5D5;
      }
    }

    &-details {
      & h3 {
        font-size: 14px;
        font-weight: 600;
        line-height: 23px;
      }

      & p {
        font-size: 12px;
        color: black;
      }
    }
  }

  &-product {
    margin: 0 auto;
    width: 100%;
    position: absolute;
  }

  &__social {
    height: 28px;

    &-wrapper {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }

  &__action {
    &-cart {
      &Index {
        text-align: center;
        width: 10px;
        height: 10px;
        position: absolute;
        right: -15px;
        top: -15px;
        background: red;
        padding: 5px;
        border-radius: 50%;
        color: white;
        font-size: 10px;
        font-weight: 700;
      }

      &-wrapper {
        position: relative;
      }
    }

    &-wrapper {
      display: flex;
      gap: 40px;
    }
  }

  &__cart{
    &-wrapper{
      display: flex;
      flex-direction: column;
      gap: 15px;

      min-width: 300px;

      position: absolute;
      top: 100px;
      right: -75px;
      background: #FFF;
      &.empty{
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;

        padding: 40px 60px;
        background: #FFF;
        color: #000;
      }
    }

    &-title{
      padding: 0 30px;
      padding-top: 15px;
      font-size: 18px;
      font-weight: 700;
    }
    &-total{
      align-self: end;
      padding: 0 30px;
      font-weight: 700;
      font-size: 18px;
      color: #000;
    }
    &-price{
      font-weight: 400;
    }
    &-button{
      height: 65px;
    }
  }

  &__menu {
    & svg {
      fill: black;
    }

    &-bold {
      a {
        font-weight: 700;
        font-size: 24px;
      }
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-link {
      font-weight: 400;
      font-size: 18px;
      line-height: 31px;
      text-decoration: none;
      transition: 0.5s;

      color: #000;

      &:hover {
        text-decoration: underline;
        transition: 0.5s;
      }
    }

    &-wrapper {
      & path {
        fill: black;
      }

      padding: 75px;
      position: absolute;
      top: 0;
      right: -75px;
      min-width: 200px;
      min-height: 400px;

      display: flex;
      flex-direction: column;
      gap: 40px;

      background: #FFF;
    }
  }
}