.header{
    height: 80px;
    background-color: #999999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header h1{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: bisque;
}

.header button{
    border: 0;
    border-radius: 20px;
    background-color: bisque;
    padding: 10px 20px;
}
