@import "../constants";

.container{
  padding: 0 144px;
}

.block{
  @include flex-centered();
  align-items: flex-start;
  flex-direction: column;
  font-family: $default-font;

  &__title{
    font-weight: 600;
    font-size: 56px;
  }
  &__description{
    padding: 20px 0;
    font-weight: 400;
    font-size: 16px;
    color: #5A5A5A;
  }
}

.hero{
  @include flex-centered();
  background-color: #E1FFF4;
}

.partner {
  padding: 56px 0;
  justify-content: center;
  align-items: center;
  &__wrapper{
    padding-top: 40px;
    max-width: 1200px;
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
