@import "../constants";

.sections{
  @include flex-centered();
  margin: 128px 0;
  gap: 65px;
}

.work{
  & .shadow {
    box-shadow: -188px -56px 0px -4px #235241;
  }

  &__list{

  }

  &__item{
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    & img{
      padding: 25px 30px;
      background: #E8FFEA;
      border-radius: 6px;
    }
    & h3{
      font-size: $default-fs*3;
    }
    & span{
      font-size: $default-fs*2-2px;
    }
  }
}

.text-content{
  height: 100%;
  @include flex-centered();
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.section{
  &__header {
    display: grid;
    grid-template-columns: 1fr 125px;
    grid-template-rows: 60px 56px;
  }
  &__button{
    grid-row: 2;
    grid-column: 2;
  }
  &__text{
    display: grid;
  }
  &__block{
    margin: 40px 0;
    display: flex;
    gap: 25px;
    &__item{
      width: 368px;
      padding: 32px;
      background: #FFFFFF;
      box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      & h3{
        font-size: $default-fs*3;
      }
      & span{
        font-size: $default-fs*2-2px;
      }
    }

  }
}

.blog{
  margin: 128px 0;
  & .section__text{
    max-width: 420px;
  }
  &__header{
    button{
      float: right;
    }
  }
  &__wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__card{
    max-width: 564px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h3{
      font-size: $default-fs*3;
    }
    p {
      color: #5A5A5A;
    }

    a{
      font-size: 18px;
      color: #235241;
    }
  }
}

.clients{
  &__slider {
    margin: 40px;
  }

  &__text_about{
    h3{
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 32px;
    width: 354px;
    height: 298px;

    background: #FFFFFF;
    box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.09);
    border-radius: 6px;

    &_image{
      display: flex;
      gap: 20px;
      img{
        width: 96px;
        height: 96px;
      }
    }
  }
}
